<% layout('layouts/boilerplate.ejs') %>
<%- include ('../partials/navbar') %>
    <div class="row">
        <% for(let x of data){ %>
            <div class="col-2">
                <div class="card" style="width: 18rem;">
                    <img src="<%=x.img%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><%=x.name%></h5>
                        <p class="card-text"><%=x.desc%></p>
                        <p class="card-text"><%=x.price%></p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <a href="/products/<%= x.id%>" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>